influxdb:
  authEnabled: false
  deploymentStrategy:
    type: Recreate
  ingress:
    enabled: true
    tls: true
    secretName: influxdb-tls
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt
    path: /
    hostname: influxdb.sievert.fun
  persistence:
    enabled: true
    size: 10Gi
